.post-card {
  display: inline-block;
  background: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  margin-top: 16px;
  width: 100%;


  &__category {
    font-size: 0.85rem;
    color: #666;
    margin-bottom: 10px;
  }

  &__authors,
  &__tags,
  &__views {
    font-size: 0.8rem;
    color: #444;
    margin-bottom: 5px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
